{% extends "layout.html" %}
{% block content %}

<body>
<center>
{% if session.user_id %}
Olet kirjautunut sisään nimellä <b>{{ session.user_name }}</b>. <a href="/logout">Kirjaudu ulos</a>
{% else %}
Et ole kirjautunut sisään. <a href="/login">Kirjaudu sisään</a>
{% endif %}

<p>
<h4>Etsi ravintolaa</h4>
<form action="/search" method="get">
<input type="text" name="query" value="Ravintolan nimi">
<input type="submit" value="Etsi">
</form>
<p>
<h4>Ravintolat:</h4>
<ul>
{% for restaurant in restaurants %}
<li><a href="/restaurant/{{ restaurant.id }}">{{ restaurant.name }}</a>
{% endfor %}
</ul>


{% if session.user_role == 2 %}
<h4>Ravintoloitsijan toiminnot</h4>
<ul>
<li><a href="/add">Perusta uusi ravintola</a>
<li><a href="/remove">Poista ravintola</a>
</ul>
{% endif %}
</center>
</body>

{% endblock %}
