<head>
    <title>Restaurant Template</title>
    <style>
        header {
            background-color: crimson;
            padding: 30px;
            text-align: center;
            font-size: 35px;
            color: white;
        }

        html {
            height: 100%;
        }

        body {
            background-image: linear-gradient(white, red);
        }
    </style>
</head>
<body>
    <header>
        <h1>Restaurant Application</h1>
    </header>
</body>

{% block content %}
{% endblock %}